
.form-element{
  margin:5px;    
}

.text-input{
  width: 450px;
}

.all-links{
  box-shadow: 0px 6px 8px;
  text-align: center;
  background-color:#D3D3D3;
}

.link{
  margin: 30px;
  color:#191970;
  opacity: 0.5;
}

.link:hover{
  text-decoration: none;
}

.link:focus{
  opacity: 1;
}


